*{
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Cabin");
body, html {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  font-size: 1em;
  background: #eeeeee;
  box-sizing: border-box;
 /*  width: 100vh;
  max-width: 100%; */
}
.clearfix{
  clear: both;
}
u{
  text-decoration: none;
}
body a{
  text-decoration: none;
}
/* Header and meny */
header {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header div{
  width: auto;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 64px;
}
header h1{
  color: orange;
  border-bottom: 2px solid orange;
  margin: 0;
  padding-bottom: 1px;
}
header h2{
  color: orange;
  margin: 0;
  font-size: 1em;
  font-family: 'Patrick Hand', cursive;
}
.hamburger {
  display: block;
  font-size: 3em;
  text-decoration: none;
  color:orange;
  cursor: pointer;
  margin: auto 30px auto 0;
}
nav {
  display: none;
  padding: 0 30px 0 10px;
  margin: 0;
  /* background-color: #bbddff; */
  top: 4.45em;
  position: fixed;
  width: 100%;
}
nav a {
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
.show-nav {
    display: block;
    background: rgba(0, 0, 0, 0.788);
    text-align: right;
  }
  .show-nav ul{
    list-style-type: none;
  }
  .show-nav ul li:first-child{
    margin-bottom: 10px;
  }
  .show-nav ul li a{
    color: orange;
    border-bottom: 1px solid orange;
  }

/* Header and meny ends */
.portrait{
  width: 80%;
  height: auto;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main img, main div img{
  display: block;
  width: auto;
  margin: 0 auto;
}
.mobile-img{
  max-width: 90%;
  margin: 0 auto;
}

main h1{
  text-align: center;
}
table{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}
th{
  text-align: left;
}
th, td{
  padding: 5px 5px 0 5px;
}
/* .tableone{
  background: rgba(197, 196, 196, 0.733);
} */
.tabletwo, .tableone{
  background: #faf3f3;
}
td:nth-child(even){
  text-align: right;
}
.section-one img{
  width: 100%;
  height: auto;
}
main div ul{
  
}
.container{
  width: auto;
  margin: 10px 5px 0 5px;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #08080838;
}
.container > *{
 
}
.adress-list{
  list-style-type: none;
  display: block;
}
.test > p{
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

/* Main section Ends*/

/* Footer */
footer{
  background: black;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
footer a{
  color: rgb(245, 115, 9);
}
footer a img {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}
footer a span{
  display: none;
}
/* Footer Ends */
/* desktop */


@media (min-width: 768px){
  
  header > div{
    margin-left: 10%;
  }
  .hamburger{display: none;}
  nav{
    display: inline-block;
    position: initial;
    width: auto;
    background: black;
    align-self: center;
    margin-right: 10%;
    padding: 0;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
  display: inline-block;
  padding-left: 20px;
}
nav ul li a{
  display: block;
  color: orange;
  font-size: 1.5em;
}
nav ul li a:hover{
 color: darkorange;
 zoom: 101%;
}
/* main */
main{
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px 10px;
  margin: 5px 10%;;
}
.portrait{
  width: 30%;
  height: auto;
  margin: 10px 0;
}
.me-text{
  width: 40%;
  padding-left: 7%;
  line-height: 1.2em;

}
.container{
  width: auto;
  margin: 0;
  padding: 0 auto 0 auto;
}
.aboutme{
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.utbildning{
  grid-row: 2;
  grid-column: 1;
}
.exp{
  grid-row: 2;
  grid-column: 2;
}
.praktik{
  grid-row: 3;
  grid-column: 1;
}
.skills{
  grid-row: 3;
  grid-column: 2;
  display: grid;
}
.portfolio{
  grid-row: 1;
  grid-column: 1 / span 2;
}
.design{
  grid-row: 2;
  grid-column: 1 / span 2;
 /*  width: 100%; */
}
.code{
  grid-row: 3;
  grid-column: 1 / span 2;
 /*  width: 100%; */
}
.test{
  width: 48%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.float-r{
  float: right;
}
.mobile-img{
  /* min-height: 300px;
  max-height: 300px; */
  height: 300px;
}
.text-center{
  text-align: center;
}
.adress-list{
  display: grid;
}
.order-2{
  order: 2
}
.order-3{
  order: 3;
}
.order-4{
  order: 4;
}
.margin-left-5{
  margin-left: 5%;
}
footer{
  justify-content: space-around;
}
footer a img{
  height: 75px;
  width: 75px;
}
}