@import url("https://fonts.googleapis.com/css?family=Cabin");
body, html {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  font-size: 1em;
  background: #eeeeee;
}

body a{
  text-decoration: none;
}
/* Header and meny */
header{
  display: flex;
  background: black;
}
header div h1, header div h2{
  color: orange;
  margin: 0 0 0 5px;
  
}
header div h1{
  border-bottom: 5px solid orange;
  padding-bottom: 5px;
  font-size: 2em;
}
header div h2{
  font-size: 1em;
}
/* Header and meny ends */

main img, main div img{
  display: block;
  width: auto;
  margin: 0 auto;
}
.mobile-img{
  max-width: 90%;
  margin: 0 auto;
}
main h1{
  text-align: center;
}
table{
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}
th{
  text-align: left;
}
th, td{
  padding: 0 5px 0 5px;
}
/* .tableone{
  background: rgba(197, 196, 196, 0.733);
} */
.tabletwo, .tableone{
  background: #faf3f3;
}
td:nth-child(even){
  text-align: right;
}
.section-one img{
  width: 100%;
  height: auto;
}
main div ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-position: inside;
  padding-left: 0px;
}
.container{
  width: auto;
  margin: 10px 5px 0 5px;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #08080838;
}
.container > *{
 
}
.adress-list{
  list-style-type: none;
}

/* Main section Ends*/

/* Footer */
footer{
  background: black;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
footer a{
  color: rgb(245, 115, 9);
}
footer a img {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}
footer a span{
  display: none;
}
/* Footer Ends */