@import url("https://fonts.googleapis.com/css?family=Cabin");
body, html {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  background: rgba(219, 219, 219, 0.733);
}

body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
  background: black;
}

header .logo {
  color: rgb(245, 115, 9);
  font-weight: bold;
  font-size: 25px;
}

header .menu-btn {
  float: right;
  cursor: pointer;
  color: rgb(245, 115, 9);
  font-size: 25px;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
  text-transform: uppercase;
}

section h1::before {
  content: '';
  border-top: 6px solid black;
  display: block;
}

nav {
  position: absolute;
  background: black;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-button {
  float: right;
  cursor: pointer;
  opacity: 0;
  color: rgb(245, 115, 9);
  font-size: 25px;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
      grid-template-columns:1;
      grid-template-rows: repeat(4, auto);
  width: 80%;
}

nav ul a {
  color: rgb(245, 115, 9);
  font-weight: bold;
  font-size: 2em;
  border-bottom: 2px solid rgb(245, 115, 9);
}

nav ul span {
  color: rgb(245, 115, 9);
  display: block;
  font-size: 1em;
  margin-top: 20px;
}

nav ul li {
  opacity: 0;
  padding-top: 50px;
  text-align: center;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-button {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* Header and Meny end */

/* Main section */
main{
  padding: 0 10px 0 10px;
}
main img{
  display: block;
  width: auto;
  margin: 10px auto 40px auto;
  padding-bottom: 1000px;
}
/* Main section Ends*/

/* Footer */
footer{
  background: black;
}
footer a{
  color: rgb(245, 115, 9);
}
/* Footer Ends */